<body>
<h2 id="head">Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">

<p id="uname">
  <mat-form-field>
    <mat-label>Enter Email</mat-label>
  <input matInput placeholder="abc@gmail.com" formControlName="email">
  <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
    Email is required
  </mat-error>
</mat-form-field>
  </p>
  <p id="pwd">
    <mat-form-field>
      <mat-label>Enter Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">    
          <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
            Password incorrect
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
            Password is required
          </mat-error>
        </mat-form-field>
    </p>
    <p id="btn">
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid" mat-button>Login</button>

      
</form>
</body>
