body{
    padding: 25px;
    background-image: linear-gradient( rgb(159, 200, 232),white);;
  }

#head{
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    font-family: sans-serif;
    color:black;
}
    
#uname{
    text-align: center;
    margin-top: 75px;
}

#pwd{
    text-align: center;
    margin: 60px;
}

#btn{
    text-align: center;
    margin-top: 60px;
    
}



